/** Controls **/

input[type='text']{
    width:100%;
    height:30px;
    border:1px solid #FD3004;
    background:#ffffff;
    
    border-radius:4px;
    margin-top:5px;
    margin-bottom:5px;
    padding: 5px;
}
input[type='text']:focus{
    box-shadow: 0 0 10px rgba(20,142,60,0.5);
}

select{
    width:100%;
    height:30px;
    border:1px solid #FD3004;
    background:#ffffff;
    
    border-radius:4px;
    margin-top:5px;
    margin-bottom:5px;
    padding: 5px;
}
select:focus{
    box-shadow: 0 0 10px rgba(20,142,60,0.5);
}

input[type='button']{
    width:100%;
    height:30px;
    border:1px solid #FD3004;
    background:#ffffff;
    
    border-radius:4px;
}
input[type='submit']{
    width:100%;
    height:30px;
    border:1px solid #FD3004;
    background:#ffffff;
    
    border-radius:4px;
}

.ctl-toogle{
    margin:0 auto;
    width:720px;
    height:40px;
    margin-bottom: 20px;
}
.ctl-toogle .option-50{
    float:left;
    width:33.33%;
    height:39px;
    line-height:39px;
    border:1px solid #FD3004;
    border-bottom:1px solid #FD3004;
    background:#ffffff;
    text-align: center;
    cursor:pointer;
}
.ctl-toogle .option-sel-50{
    float:left;
    width:33.33%;
    height:39px;
    line-height:39px;
    border:1px solid #FD3004;
    border-bottom:2px solid #FD3004;
    background:#FD3004;
    color:#ffffff;
    text-align: center;
}

.ctl-title{
    float:left;
    font-size:20px;
    font-family:arial;
    color:#FD3004;
    text-transform: uppercase;
    
    font-weight:bold;
}
.ctl-label{
    margin-top:10px;
    width:100%;
    font-size:16px;
    font-family:arial;
    color:#222222;
    
    font-weight:bold;
}

.x-100{
    position:relative;
    float:left;
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.x-50{
    position:relative;
    float:left;
    width:50%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.x-25{
    position:relative;
    float:left;
    width:25%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.item-r{
    width:100%;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #e7e7e7;
    font-size:14px;
    text-align:left;
    padding-left:10px;
    box-sizing: border-box;
}
.item-r:hover{
    background:#E6F6FB;
    color:#06669D;
}