/** Main **/
*{
    box-sizing: border-box;
    font-family:arial;
    font-size:14px;
}
body{
    margin:0;
    background:#ffffff;
}
.clear{
    clear:both;
}

.ctn-main{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
    background:url('../img/bg/Fondo_rojo.png') no-repeat center;
    background-size: cover;
    padding-top:200px;
}
.ctn-main .ctn-work{
    width:100%;
    height:100%;
    background: #BBB7B6;
}

.perfil{
    position:absolute;
    top:20px;
    left:50%;
    margin-left:-60px;
    width:120px;
    height:120px;
    background:rgba(0,0,0,0.4);
    border:2px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius:50%;
}
.filtro{
    position:absolute;
    top:160px;
    left:50%;
    margin-left:-240px;
    width:480px;
    height:30px;
    background:rgba(255,255,255,0.8);
    border:4px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius:10px;
}
.SystemName{
    position:absolute;
    top:20px;
    left:20px;
    color:#ffffff;
    font-weight:bold;
    font-size:16px;
    text-shadow: 0 0 10px rgba(0,0,0, 0.8);
}
.btn-close{
    position:absolute;
    top:20px;
    right:20px;
    width:40px;
    height:40px;
    background:rgba(0,0,0,0.4);
    border:2px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius:50%;    
}
.btn-language{
    position:absolute;
    top:20px;
    right:70px;
    width:40px;
    height:40px;
    background:rgba(0,0,0,0.4);
    border:2px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius:50%;    
}

.SystemVersion{
    position:absolute;
    bottom:20px;
    left:20px;
    color:#777777;
    font-size:16px;
    
    
    font-weight:bold;
    
    
}
.SystemHelp{
    position:absolute;
    bottom:20px;
    right:20px;
    color:#777777;
    font-size:16px;
    
    
    font-weight:bold;
}

/** App **/
.ctn-app{
    float:left;
    width:140px;
    height:180px;
    margin:20px;
}
.ctn-app .box-app{
    width:140px;
    height:140px;
    
    border:4px solid #ffffff;
    background:rgba(255,255,255,0.20);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius:10px;
    overflow:hidden;
    cursor:pointer;
}
.ctn-app .name-app{
    width:100%;
    height:40px;
    text-align: center;
    padding:5px;
    font-weight:bold;
    font-size:16px;
    text-shadow: 0 0 15px rgba(0,0,0, 0.8);
}

.bg-persona{
    width:140px;
    height:140px;
    background:url('../img/app/moneda.png') no-repeat center;
    background-size: 96px;
    transition: all 0.4s;
}
.bg-persona:hover{
    transition: all 0.4s;
    transform: rotate(45deg);
    background-size: 120px;
}

.bg-moneda{
    width:140px;
    height:140px;
    background:url('../img/app/moneda.png') no-repeat center;
    background-size: 96px;
    transition: all 0.4s;
}
.bg-moneda:hover{
    transition: all 0.4s;
    transform: rotate(45deg);
    background-size: 120px;
}

.bg-tipocuenta{
    width:140px;
    height:140px;
    background:url('../img/app/moneda.png') no-repeat center;
    background-size: 96px;
    transition: all 0.4s;
}
.bg-tipocuenta:hover{
    transition: all 0.4s;
    transform: rotate(45deg);
    background-size: 120px;
}

.bg-producto{
    width:140px;
    height:140px;
    background:url('../img/app/moneda.png') no-repeat center;
    background-size: 96px;
    transition: all 0.4s;
}
.bg-producto:hover{
    transition: all 0.4s;
    transform: rotate(45deg);
    background-size: 120px;
}

.bg-marca{
    width:140px;
    height:140px;
    background:url('../img/app/moneda.png') no-repeat center;
    background-size: 96px;
    transition: all 0.4s;
}
.bg-marca:hover{
    transition: all 0.4s;
    transform: rotate(45deg);
    background-size: 120px;
}

.bg-tipotarjeta{
    width:140px;
    height:140px;
    background:url('../img/app/moneda.png') no-repeat center;
    background-size: 96px;
    transition: all 0.4s;
}
.bg-tipotarjeta:hover{
    transition: all 0.4s;
    transform: rotate(45deg);
    background-size: 120px;
}

.bg-cuenta{
    width:140px;
    height:140px;
    background:url('../img/app/moneda.png') no-repeat center;
    background-size: 96px;
    transition: all 0.4s;
}
.bg-cuenta:hover{
    transition: all 0.4s;
    transform: rotate(45deg);
    background-size: 120px;
}

.bg-tarjeta{
    width:140px;
    height:140px;
    background:url('../img/app/moneda.png') no-repeat center;
    background-size: 96px;
    transition: all 0.4s;
}
.bg-tarjeta:hover{
    transition: all 0.4s;
    transform: rotate(45deg);
    background-size: 120px;
}

.bg-sucursal{
    width:140px;
    height:140px;
    background:url('../img/app/moneda.png') no-repeat center;
    background-size: 96px;
    transition: all 0.4s;
}
.bg-sucursal:hover{
    transition: all 0.4s;
    transform: rotate(45deg);
    background-size: 120px;
}

.bg-usuario{
    width:140px;
    height:140px;
    background:url('../img/app/user.png') no-repeat center;
    background-size: 96px;
    transition: all 0.4s;
}
.bg-usuario:hover{
    transition: all 0.4s;
    transform: rotate(45deg);
    background-size: 120px;
}
.app{
    position:absolute;
    top:50%;
    left:50%;
    width:0px;
    height:0px;
    background: #e7e7e7;
    display:none;
}
.app iframe{
    width:100%;
    height:100%;
    border:0;
}

.app-content{
    width:100%;
    height:100%;
    padding:40px;
    background: #BBB7B6;
}

tr.header{
    height:40px;
    background:#FD3004;
    color:#ffffff;
    
    font-size:16px;
    font-weight:bold;
    
}

tr.row-1{
    height:40px;
    background:#ffffff;
    color:#222222;
}
tr.row-1:hover{
    background: #F92E37;
    color:#ffffff;
}
tr.row-2{
    height:40px;
    background:#ffffff;
    color:#050404;
}
tr.row-2:hover{
    background: #F92E37;
    color:#ffffff;
}

.bg-layer{
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index:1000;
    display:none;
}
.mnu-ln{
    margin: 50px auto;
    width:320px;
    height:240px;
    background:rgba(255,255,255,0.8);
    border:2px solid #F92E2E;
    box-shadow:0 0 0 10px rgba(255,255,255, 0.5);
    border-radius:20px;
    padding:20px;
}
.mnu-ln .item{
    margin-top:5px;
    width:100%;
    height:30px;
    line-height:26px;
    text-align:center;
    font-family:arial;
    font-size:14px;
    border:2px solid transparent;
    background:#ffffff;
    border-radius:10px;
    color:#222222;
    cursor:pointer;
}
.mnu-ln .item:hover{
    border:2px solid #F92E2E;
    background:#878686;
    color:#ffffff;
    font-size:16px;
    transition: all 0.4s;
    
    font-weight:bold;
}